.header {
    width: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #f8ad9d;
    margin-top: 2rem;
    margin: auto;
    padding: 1.2rem 1rem;
    color: white;
}

.form {
    display: flex;
    justify-content: center;
}

input {
    width: 14rem;
    height: 1.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    margin-right: 1rem;
}

.button {
    width: 3rem;
    font-size: 1rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 20%;
    background-color: #f08080;
    transition: transfrom 3ms ease-in;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}